{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
<section class="d-flex justify-content-center mt-5">
    <div class="col-sm-11 col-md-5 col-lg-4 col-xl-3 text-start">
    {% element h1 %}
        {% trans "Change Password" %}
    {% endelement %}
    {% element p %}
        {% trans 'Your password is now changed.' %}
    {% endelement %}
    </div>
</section>
{% endblock content %}
