{% extends "base.html" %}
{% load static %}

{% block content %}
<main>
    <section class="container mt-2 mt-md-5">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8 mx-auto"> 

                <h2 class="my-4 text-center">Your Shopping Bag</h2>

                {% if bag_items %}
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="d-none d-lg-block">Image</th>
                                    <th>Item</th>
                                    <th class="text-center">Quantity</th>
                                    <th class="text-center">Price</th>
                                    <th class="text-center">Total</th>
                                    <th class="text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in bag_items %}
                                <tr>
                                    <td class="product-thumbnail d-none d-lg-block align-middle">
                                        <a href="{% url 'product_details' item.product.id %}">
                                            {% if item.product.picture_location %}
                                                <img src="{{ item.product.picture_location.url }}" alt="{{ item.product.product_name }}">
                                            {% else %}
                                                <img src="{% static 'images/noimage.webp' %}" alt="No image available">
                                            {% endif %}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{% url 'product_details' item.product.id %}" class="text-decoration-none">
                                            {{ item.product.product_name }}
                                        </a>
                                    </td>
                                    <td>
                                        <form method="POST" action="{% url 'update_bag' %}" class="d-flex flex-column align-items-center">
                                            {% csrf_token %}
                                            <input type="hidden" name="product_id" value="{{ item.product.id }}">
                                            <div class="d-flex align-items-center">
                                                <button type="button" class="btn btn-outline-secondary" onclick="changeBagQuantity('{{ item.product.id }}', -1)" id="decrement-{{ item.product.id }}" {% if item.quantity == 1 %}disabled{% endif %}>-</button>
                                                <input type="number" id="quantity-{{ item.product.id }}" name="quantity" value="{{ item.quantity }}" min="1" max="{{ item.product.in_stock }}" step="1" class="form-control text-center quantity" required>
                                                <button type="button" class="btn btn-outline-secondary" onclick="changeBagQuantity('{{ item.product.id }}', 1)" id="increment-{{ item.product.id }}">+</button>
                                            </div>
                                            <button type="submit" class="btn btn-link text-primary mt-2 p-0 border-0">Update</button>
                                        </form>
                                    </td>
                                    <td class="text-center">€{{ item.product.price|floatformat:2 }}</td>
                                    <td class="text-center">€{{ item.total_price|floatformat:2 }}</td>
                                    <td class="text-center">
                                        <form method="POST" action="{% url 'update_bag' %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="product_id" value="{{ item.product.id }}">
                                            <input type="hidden" name="quantity" value="0">
                                            <!-- Trash Button -->
                                            <button type="submit" class="btn btn-danger"><i class="fa-solid fa-trash"></i></button>
                                        </form>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="text-end mt-3">
                        <p class="h6">Subtotal: €{{ total|floatformat:2 }}</p>
                        <p class="h6">Delivery: €{{ delivery|floatformat:2 }}</p>
                        <p class="h4"><strong>Grand Total: €{{ grand_total|floatformat:2 }}</strong></p>

                        {% if free_delivery_delta > 0 %}
                            <p class="text-warning bg-dark d-inline-block px-4 py-1 mt-2 rounded">
                                Spend €{{ free_delivery_delta|floatformat:2 }} more to get free delivery!
                            </p>
                        {% endif %}

                        <div class="d-grid gap-3 d-sm-flex justify-content-sm-end mt-3">
                            <a href="{% url 'all_products' %}" class="btn btn-outline-primary px-4 py-2">
                                <i class="fa-solid fa-rotate-left"></i>&nbsp;
                                Add More Items
                            </a>
                            <a href="#" class="btn btn-success px-4 py-2">
                                Proceed to Checkout &nbsp;
                                <i class="fa-solid fa-credit-card"></i>
                            </a>
                        </div>
                    </div>
                {% else %}
                    <div class="text-center">
                        <p class="alert alert-warning mx-auto">
                            Your shopping bag is empty. <a href="{% url 'all_products' %}">Browse Products</a>
                        </p>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
</main>

{% endblock %}

{% block postload_js %}
<script>
    function changeBagQuantity(productId, change) {
        let quantityInput = document.getElementById(`quantity-${productId}`);
        let incrementButton = document.getElementById(`increment-${productId}`);
        let decrementButton = document.getElementById(`decrement-${productId}`);
        let min = parseInt(quantityInput.min); // get min attribute
        let max = parseInt(quantityInput.max); // get max attribute

        // Handle button clicks
        // if user manually entered value is not valid, set default to min
        let currentValue = parseInt(quantityInput.value) || min;
        let newValue = currentValue + change;

        if (newValue >= min && newValue <= max) {
            quantityInput.value = newValue;
        } else if (newValue > max) {
            quantityInput.value = max;
        } else {
            quantityInput.value = min;
        }

        // Disable button if min/max reached
        incrementButton.disabled = (quantityInput.value >= max);
        decrementButton.disabled = (quantityInput.value <= min);

        if (quantityInput.value == max) {
            alert("You have reached the maximum stock limit: " + max);
        }
    }
</script>
{% endblock %}