{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid p-0">
    <div class="position-relative text-center text-white" id="home-page">
        <!-- Background image -->
        <img src="{% static 'images/dentist-428651_1920.webp' %}" alt="Background image" class="img-fluid w-100">

        <!-- Jumbotron -->
        <div class="position-absolute top-50 start-50 translate-middle text-center rounded w-75 w-md-50 px-4 px-md-5 py-4">
            <h1 class="fw-bold display-5">BBdental Online Shop</h1>
            <p class="lead py-2">Your trusted source for high-quality dental products.</p>
            <a href="{% url 'all_products' %}" class="btn btn-warning py-3 btn-lg shadow fw-bold text-dark">Start
                Shopping</a>
        </div>
    </div>
</div>

{% endblock %}