{% extends "base.html" %}

{% block content %}
<main class="d-flex justify-content-center text-center mt-5">
    <section class="container">
        <h1>Thank You for Your Purchase!</h1>
        <p>Your payment has been successfully processed.</p>
        <p><strong>Order Number:</strong> {{ order.order_number }}</p>
        <p>A confirmation email has been sent to <strong>{{ order.email }}</strong>.</p>
        <a href="/" class="btn btn-link mt-5">Return to Main Page</a>
    </section>
</main>
{% endblock %}
