.prod-management-main {
    max-width: 1200px;
}

.prod-management {
    max-width: 800px;
}

.product-name-search {
    width: 240px;
    max-width: 100%;
}

.products-table img {
    max-height: 60px;
    max-width: 60px;
}

#edit-product-form img {
    height: 100px;
}
