{% extends "base.html" %}

{% block content %}
<main class="container mt-2 mt-md-5" id="not-found">
    <section class="my-4">
        <div class="jumbotron text-center">
            <h1 class="display-4">Oops! Page Not Found</h1>
            <p class="lead">The page you're looking for doesn't exist.</p>
            <hr class="my-4">
            <p>Please check the URL, or:</p>
            <a href="/" class="btn btn-warning btn-lg">Go back to the homepage</a>
        </div>
    </section>
</main>
{% endblock %}
