{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/e404.css' %}">
{% endblock %}

{% block content %}
<main class="container-fluid mt-3 mt-md-5 text-center" id="not-found">
    <section class="my-4">
        <div>
            <i class="fa-solid fa-ban text-secondary icon"></i>
        </div>
        <div class="jumbotron mt-5">
            <h1 class="display-4">Oops! Page Not Found</h1>
            <p class="lead">The page you're looking for doesn't exist.</p>
            <hr class="my-4">
            <p>Please check the URL or:</p>
            <a href="/" class="btn btn-warning btn-lg">
                <i class="fa-solid fa-angle-left"></i>
                &nbsp; Go back to the homepage</a>
        </div>
    </section>
</main>
{% endblock %}
