{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock head_title %}

{% block content %}
<section class="d-flex justify-content-center mt-5">
    <div class="col-sm-11 col-md-5 col-lg-4 col-xl-3 text-start">

        <h1>{% trans "Set Password" %}</h1>

        <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
            {% csrf_token %}
            {{ form | crispy }}
            <input type="submit" class="btn btn-primary" name="action" value="{% trans 'Set Password' %}" />
        </form>

    </div>
</section>
{% endblock content %}