@import url('https://fonts.googleapis.com/css2?family=Gantari:ital,wght@0,100..900;1,100..900&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    font-family: "Gantari", serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color:rgb(243, 243, 243);
}

.documents img {
    max-height: 570px; 
    width: auto;
}

header {
    background-color: #f0f0f0;    
}

footer {
    text-align: center; 
    padding: 20px 0; 
}

.active {
    /* use bootstrap's primary color */
    color: var(--bs-primary) !important;
    font-weight: 500;
}

.group-container {
    min-height: 280px; 
    border-radius: 15px;
}

.group-container a {
    text-decoration: none;
    display: block;
}

.group-container a:active  {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); 
    transform: translateY(2px);
}

.group-name {
    padding: 20px; 
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.75);
    color: rgb(1, 64, 165);
}

.group-name:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255);
}

#home-page img{
    height: calc(100vh - 151px); 
    object-fit: cover; 
    object-position: center; 
    filter: grayscale(1) opacity(0.4)
}

#home-page div{
    background: rgba(31, 154, 196, 0.918); 
    max-width: 620px;
}

.link {
    color: #727272;  
    font-weight: 600;
    text-decoration: none;
    transition: color 0.3s ease;  /* Transition for color change */
  }

.link:hover {
    transition: 0.2s ;
    color: var(--bs-primary) !important;  /* (Bootstrap primary color) */
    text-decoration: overline;
    transition: color 0.3s ease;
}

#logo {
    height: 45px;
}

.product-card img {
    height: 185px; 
    object-fit: contain;
}

.product_img img{
    max-height: 600px;
    object-fit: contain;
}

/***************************** Media queries **********************************/
/* Medium size devices */
@media (min-width: 768px) {
    .container {
      max-width: 95%;
    }

    .documents img {
        transform: skew(-9deg);
    }
}
/* Extra large devices */
@media (min-width: 1300px) {
    .container {
      max-width: 82%;
    }
}
