{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row no-gutters my-md-3 row-cols-1 row-cols-md-2 row-cols-xl-3 g-3">

  <div class="col">
    <div class="pt-2 px-2 pt-md-5 px-md-5 text-center overflow-hidden position-relative group-container"
      style="background: url('{% static 'images/default-blueish.webp' %}') center/cover no-repeat;">
      <!-- White transparent stripe - it displays product cathegory group name-->
      <a href="#" aria-label="Open product catheogry">
        <div class="shadow-lg mx-auto d-flex flex-column justify-content-end group-name">
          <p class="display-6 my-4 fw-semibold">Appliances</p>
        </div>
      </a>
    </div>
  </div>

  <div class="col">
    <div class="pt-2 px-2 pt-md-5 px-md-5 text-center overflow-hidden position-relative group-container"
      style="background: url('{% static 'images/default-blueish.webp' %}') center/cover no-repeat;">
      <!-- White transparent stripe - it displays product cathegory group name-->
      <a href="#" aria-label="Open product catheogry">
        <div class="shadow-lg mx-auto d-flex flex-column justify-content-end group-name">
          <p class="display-6 my-4 fw-semibold">Dental ends</p>
        </div>
      </a>
    </div>
  </div>

  <div class="col">
    <div class="pt-2 px-2 pt-md-5 px-md-5 text-center overflow-hidden position-relative group-container"
      style="background: url('{% static 'images/default-blueish.webp' %}') center/cover no-repeat;">
      <!-- White transparent stripe - it displays product cathegory group name-->
      <a href="#" aria-label="Open product catheogry">
        <div class="shadow-lg mx-auto d-flex flex-column justify-content-end group-name">
          <p class="display-6 my-4 fw-semibold">Endodontics</p>
        </div>
      </a>
    </div>
  </div>

  <div class="col">
    <div class="pt-2 px-2 pt-md-5 px-md-5 text-center overflow-hidden position-relative group-container"
      style="background: url('{% static 'images/default-blueish.webp' %}') center/cover no-repeat;">
      <!-- White transparent stripe - it displays product cathegory group name-->
      <a href="#" aria-label="Open product catheogry">
        <div class="shadow-lg mx-auto d-flex flex-column justify-content-end group-name">
          <p class="display-6 my-4 fw-semibold">Filling materials</p>
        </div>
      </a>
    </div>
  </div>

  <div class="col">
    <div class="pt-2 px-2 pt-md-5 px-md-5 text-center overflow-hidden position-relative group-container"
      style="background: url('{% static 'images/default-blueish.webp' %}') center/cover no-repeat;">
      <!-- White transparent stripe - it displays product cathegory group name-->
      <a href="#" aria-label="Open product catheogry">
        <div class="shadow-lg mx-auto d-flex flex-column justify-content-end group-name">
          <p class="display-6 my-4 fw-semibold">Linking systems</p>
        </div>
      </a>
    </div>
  </div>

  <div class="col">
    <div class="pt-2 px-2 pt-md-5 px-md-5 text-center overflow-hidden position-relative group-container"
      style="background: url('{% static 'images/default-blueish.webp' %}') center/cover no-repeat;">
      <!-- White transparent stripe - it displays product cathegory group name-->
      <a href="#" aria-label="Open product catheogry">
        <div class="shadow-lg mx-auto d-flex flex-column justify-content-end group-name">
          <p class="display-6 my-4 fw-semibold">Prosthetic</p>
        </div>
      </a>
    </div>
  </div>


</div>

{% endblock %}