{% extends "base.html" %}
{% load static %}

{% block content %}

<main>
  <section class="row no-gutters my-md-3 row-cols-1 row-cols-sm-2 row-cols-xl-3 row-cols-xxl-4 g-3 px-sm-1">
    
    <!-- Appliances -->
    <article class="col">
      <div class="pt-2 px-2 pt-md-5 px-md-5 text-center overflow-hidden position-relative group-container"
        style="background: url('{% static 'images/default-blueish.webp' %}') center/cover no-repeat;">
        <a href="#" aria-label="Open Appliances category">
          <div class="shadow-lg mx-auto d-flex flex-column justify-content-end group-name">
            <h1 class="h2 my-4 fw-semibold">Appliances</h1>
          </div>
        </a>
      </div>
    </article>

    <!-- Dental Ends -->
    <article class="col">
      <div class="pt-2 px-2 pt-md-5 px-md-5 text-center overflow-hidden position-relative group-container"
        style="background: url('{% static 'images/default-blueish.webp' %}') center/cover no-repeat;">
        <a href="#" aria-label="Open Dental Ends category">
          <div class="shadow-lg mx-auto d-flex flex-column justify-content-end group-name">
            <h1 class="h2 my-4 fw-semibold">Dental Ends</h1>
          </div>
        </a>
      </div>
    </article>

    <!-- Endodontics -->
    <article class="col">
      <div class="pt-2 px-2 pt-md-5 px-md-5 text-center overflow-hidden position-relative group-container"
        style="background: url('{% static 'images/default-blueish.webp' %}') center/cover no-repeat;">
        <a href="#" aria-label="Open Endodontics category">
          <div class="shadow-lg mx-auto d-flex flex-column justify-content-end group-name">
            <h1 class="h2 my-4 fw-semibold">Endodontics</h1>
          </div>
        </a>
      </div>
    </article>

    <!-- Filling Materials -->
    <article class="col">
      <div class="pt-2 px-2 pt-md-5 px-md-5 text-center overflow-hidden position-relative group-container"
        style="background: url('{% static 'images/default-blueish.webp' %}') center/cover no-repeat;">
        <a href="#" aria-label="Open Filling Materials category">
          <div class="shadow-lg mx-auto d-flex flex-column justify-content-end group-name">
            <h1 class="h2 my-4 fw-semibold">Filling Materials</h1>
          </div>
        </a>
      </div>
    </article>

    <!-- Linking Systems -->
    <article class="col">
      <div class="pt-2 px-2 pt-md-5 px-md-5 text-center overflow-hidden position-relative group-container"
        style="background: url('{% static 'images/default-blueish.webp' %}') center/cover no-repeat;">
        <a href="#" aria-label="Open Linking Systems category">
          <div class="shadow-lg mx-auto d-flex flex-column justify-content-end group-name">
            <h1 class="h2 my-4 fw-semibold">Linking Systems</h1>
          </div>
        </a>
      </div>
    </article>

    <!-- Prosthetic -->
    <article class="col">
      <div class="pt-2 px-2 pt-md-5 px-md-5 text-center overflow-hidden position-relative group-container"
        style="background: url('{% static 'images/default-blueish.webp' %}') center/cover no-repeat;">
        <a href="#" aria-label="Open Prosthetic category">
          <div class="shadow-lg mx-auto d-flex flex-column justify-content-end group-name">
            <h1 class="h2 my-4 fw-semibold">Prosthetic</h1>
          </div>
        </a>
      </div>
    </article>

  </section>
</main>

{% endblock %}
