{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row no-gutters my-md-3 row-cols-1 row-cols-md-2 row-cols-xl-3">

    <div class="col ">
      <div class="pt-2 px-2 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
          <h2 class="display-5">Another headline</h2>
          <p class="lead">And an even wittier subheading.</p>
        </div>
        <div class="bg-white shadow-lg mx-auto" style=" min-height: 300px; border-radius: 21px 21px 0 0;"></div>
      </div>
    </div>

    <div class="col ">
      <div class="pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
          <h2 class="display-5">Another headline</h2>
          <p class="lead">And an even wittier subheading.</p>
        </div>
        <div class="bg-white shadow-lg mx-auto" style=" min-height: 300px; border-radius: 21px 21px 0 0;"></div>
      </div>
    </div>

    <div class="col ">
        <div class="pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
          <div class="my-3 p-3">
            <h2 class="display-5">Another headline</h2>
            <p class="lead">And an even wittier subheading.</p>
          </div>
          <div class="bg-white shadow-lg mx-auto" style=" min-height: 300px; border-radius: 21px 21px 0 0;"></div>
        </div>
      </div>

      <div class="col ">
        <div class="pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
          <div class="my-3 p-3">
            <h2 class="display-5">Another headline</h2>
            <p class="lead">And an even wittier subheading.</p>
          </div>
          <div class="bg-white shadow-lg mx-auto" style=" min-height: 300px; border-radius: 21px 21px 0 0;"></div>
        </div>
      </div>

      <div class="col ">
        <div class="pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
          <div class="my-3 p-3">
            <h2 class="display-5">Another headline</h2>
            <p class="lead">And an even wittier subheading.</p>
          </div>
          <div class="bg-white shadow-lg mx-auto" style=" min-height: 300px; border-radius: 21px 21px 0 0;"></div>
        </div>
      </div>


      <div class="col ">
        <div class="pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
          <div class="my-3 p-3">
            <h2 class="display-5">Another headline</h2>
            <p class="lead">And an even wittier subheading.</p>
          </div>
          <div class="bg-white shadow-lg mx-auto" style=" min-height: 300px; border-radius: 21px 21px 0 0;"></div>
        </div>
      </div>

</div>

{% endblock %}