{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/management.css' %}">
{% endblock %}

{% block content %}
<main class="container mt-2 mt-md-5 prod-management">
    <section class="my-4">
        <header class="bg-transparent">
            <h2>Edit Product - {{ product.product_name }}</h2>
        </header>
        
        <form method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
            {% csrf_token %}
            <fieldset class="mb-4">
                <legend class="sr-only">Edit Product Information</legend>
                <div class="form-group">
                    {{ form|crispy }} 
                </div>
            </fieldset>
            <div class="form-group">
                <button type="submit" class="btn btn-warning">Update Product</button>
                <a href="{% url 'manage_products' %}" class="btn btn-secondary">Back to All Products</a>
            </div>
        </form>
    </section>
</main>
{% endblock %}
