{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row">
    <!-- Sidebar: Accordion Menu -->
    <aside class="col-lg-2 col-md-3 px-1">
        <div class="bg-light p-3 mb-1 rounded border">
            <h1 class="fw-semibold h5 m-0"><i class="fa-solid fa-list"></i> Menu</h1>
        </div>

        <div class="accordion" id="categoryAccordion">
            {% for category in categories %}
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#{{ category.id }}" aria-expanded="true">
                        {{ category.category_name }}
                    </button>
                </h2>
                <div id="{{ category.id }}" class="accordion-collapse collapse show">
                    <div class="accordion-body">
                        <ul class="list-unstyled">
                            {% for subcategory in category.subcategories.all|dictsort:"subcategory_name" %}
                            <li><a href="{% url 'products_by_subcategory' category.id subcategory.id %}" class="text-decoration-none hover-bold hover-bold">{{ subcategory.subcategory_name }}</a></li>
                            {% endfor %}
                        </ul>  
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </aside>

    <!-- Main Content: Products Display -->
    <main class="col-lg-10 col-md-9 px-2 px-md-3 px-xl-4 mt-3 mt-md-0">
        <!-- Breadcrumbs -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'all_products' %}"><i class="fa-solid fa-house"></i></a></li>
                <li class="breadcrumb-item"><a href="/">Appliances</a></li>
                <li class="breadcrumb-item active" aria-current="page">Distillers</li>
            </ol>
        </nav>


        <!-- Product Card -->
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5 g-3">

            {% for product in products %}
            <div class="col">
                <div class="card h-100 shadow-sm d-flex flex-column product-card">
                    <!-- If product has no image dispaly default image of no image -->
                    {% if product.picture_location.url %}
                    <img src="{{ product.picture_location.url }}" 
                         class="card-img-top img-fluid p-2 rounded"
                         alt="{{ product.product_name }} image">
                    {% else %}
                    <img src="{% static 'images/noimage.webp' %}" 
                        class="card-img-top img-fluid p-2 rounded"
                        alt="Image of no image">
                    {% endif %}
                
                    <div class="card-body flex-grow-1 d-flex flex-column">
                        <h1 class="card-title h5 fw-bold text-dark">{{ product.product_name }}</h1>
                        <p class="card-text flex-grow-1">
                            <span class="text-dark text-opacity-75"><strong>Description:</strong> {{ product.description|truncatewords:6 }}</span><br>
                            <span class="text-dark text-opacity-75"><strong>Manufacturer:</strong> {{ product.manufacturer_id }}</span><br>
                            <span class="text-dark text-opacity-75"><strong>Price:</strong> €{{ product.price }}</span><br>
                            <span class="text-dark text-opacity-75"><strong>In Stock:</strong> {{ product.in_stock }}</span>
                        </p>
                    </div>
                
                    <div class="card-footer">
                        <button class="btn btn-primary w-100">View Details</button>
                    </div>
                </div>
                
            </div>
            {% endfor %}

        </div>

    </main>
</div>


{% endblock %}